.containerProjects{
        display: flex;
        flex-direction: column;
        height: auto;
        background: linear-gradient(#b8cfef, white)
    }

.containerTitle{
    padding-left: 2rem;
}

.proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-left: 2rem;
}

.proyecto1{
    display: flex;
    justify-content: center;
    height: 20rem;
    width: 20rem;
    background-color: white;
}

@media (min-width: 768px){
    .containerProjects{
        display: flex;
        height: auto;
    }

    .containerTitle{
        padding-left: 6.5rem;
    }

    .proyectos{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        flex-wrap: wrap;
        padding-left: 6.5rem;
    }

    .proyecto1{
        justify-content: center;
        background-color: white;
    }
}